<!--
 * @Descripttion: 
 * @Author: 
 * @Date: 2023-12-17 17:34:16
 * @LastEditTime: 2024-01-22 15:36:52
-->

{{define "footer"}}
    </div>
    <div class="footer">
        <span>备案号：<a href="https://beian.miit.gov.cn/" target="_blank">{{ .Config.Icp }}</a></span><span class="footer-divider"> | </span>
        <span>
            © 2023-2024 {{ .Config.Author }}
            Powered By  <a href="{{ .Config.AppRepository }}" target="_blank"> {{ .Config.AppName }} </a>
        </span>
    </div>
</body>
</html>
{{ end}}